<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangjian.mapper.DeptMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dept(name, create_time, update_time) VALUES (#{name}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update dept set name = #{name}, update_time = #{updateTime} where id = #{id}
    </update>

    <delete id="deleteById" >
        delete from dept where id = #{id}
    </delete>

    <select id="list" resultType="com.zhangjian.de.po.DeptPO">
        select id, name, create_time, update_time from dept
    </select>

    <select id="selectById" resultType="com.zhangjian.de.po.DeptPO">
        select id, name, create_time, update_time from dept where id = #{id}
    </select>
</mapper>